# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/


# Ignore Kernel for Galileo Board
galileo/.benchmark.ko.cmd
galileo/.benchmark.mod.o.cmd
galileo/.benchmark.o.cmd
galileo/.benchmark_cases.o.cmd
galileo/.benchmark_main.o.cmd
galileo/.bm_mod.ko.cmd
galileo/.bm_mod.mod.o.cmd
galileo/.bm_mod.o.cmd
galileo/.tmp_versions/
galileo/Module.symvers
galileo/benchmark.mod.c
galileo/bm_mod.mod.c
galileo/modules.order


# galileo
.benchmark_asm.o.cmd
.benchmark_asm2.o.cmd
.benchmark_cases.S.swp


